body{
    background-color: rgb(50, 50, 50);
    color: #bbbbbb;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1;
    max-width: 800px;
    padding: auto;
    margin: 10px;
}

ul{
    list-style-type: none;
    padding: 20px;
    margin: auto;
    border: 1px solid #bbbbbb;
    border-radius: 30% 2px;
    border-width: 10px;
}