*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(50, 50, 50);
    color: #bbbbbb;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    padding: auto;
    margin: 0 auto;
}

header, footer{
    background-color: #444;
    color: #ddd;
    text-align: center;
    padding: 20px;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    display: inline;
    margin: 0 10px;
}

nav a{
    color: #ddd;
    text-decoration: none;
}

main{
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 15px;
    gap: 20px;
}

#artigos{
    flex: 3;
}

aside{
    flex: 1;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(200, 200, 200, 0.05);
    height: fit-content;

}

article{
    background-color: #333;
    padding: 15px;
    margin-bottom: 15px;
}

aside h3{
    color: #2c5e50;
    margin: 20px 0 10px 0;
    padding-bottom: 1px solid #ecf0f1;
}

aside ul{
    list-style: none;
    padding-left: 5px;
}

aside li{
    margin-bottom: 8px;
}

aside a{
    color: #44596e;
}

aside a:hover{
    color: #3498db
}

@media (max-width: 768px){
    main{
        flex-direction: column;
    }
}
